# Oracle Database Configuration
ODBC_SOURCE_NAME=YOUR_ODBC_SOURCE_NAME
DB_USER=YOUR_ORACLE_USERNAME
DB_PASSWORD=YOUR_ORACLE_PASSWORD

# Ollama Configuration
OLLAMA_MODEL=llama3.2:3b

# AI Model Configuration
MODEL_PATH=models/sewer_environment_model.pkl
MODEL_DOWNLOAD_URL=https://drive.google.com/file/d/1Hsvm8yWZuXed8_Np5sh3N5NAG0dMLkHI/view?usp=sharing

# Dataset Configuration
DATASET_PATH=data/sewer_ai_dataset_augmented_excel.csv
DATASET_DOWNLOAD_URL=https://drive.google.com/file/d/1wvAhkVkIW1U6sTD3YeNi9LSA0AbC6_yY/view?usp=sharing